In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

import os
import numpy as np
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras.preprocessing import image
from tensorflow.keras.applications.vgg19 import (
    VGG19, 
    preprocess_input, 
    decode_predictions
)

In [2]:
import pandas as pd
import scipy.io
import numpy as np

mat = scipy.io.loadmat('test_data.mat')
testDF = pd.DataFrame(np.hstack((mat['test_fg_data'], mat['test_data'])))

testDF.head()

,0,1,2,3,4,5,6,7,8,9,...,17366,17367,17368,17369,17370,17371,17372,17373,17374,17375
0,0.000213,0.000000,0.000071,0.000497,0.000284,0.000213,0.000284,0.000000,0.000000,0.000355,...,0.173786,0.310220,0.438195,0.366954,0.163990,0.262205,0.148584,0.110240,0.288782,0.166123
1,0.000000,0.000840,0.000654,0.000000,0.000093,0.000467,0.000187,0.000000,0.000280,0.000000,...,0.274529,0.373210,0.392699,0.409279,0.267252,0.332995,0.227104,0.224148,0.305901,0.252178
2,0.000076,0.000000,0.000151,0.000000,0.000000,0.000000,0.000000,0.000378,0.000151,0.000302,...,0.191877,0.317699,0.455399,0.382434,0.196417,0.281806,0.176894,0.154530,0.324314,0.202634
3,0.000176,0.000353,0.000294,0.000000,0.000118,0.000235,0.000235,0.000353,0.000118,0.000235,...,0.268505,0.371609,0.396342,0.380637,0.276664,0.325176,0.254716,0.203173,0.300523,0.232365
4,0.000207,0.000276,0.000621,0.000000,0.000069,0.000000,0.000138,0.000000,0.000000,0.000069,...,0.231936,0.346704,0.347792,0.344662,0.279609,0.318061,0.255922,0.171448,0.240239,0.206309

In [3]:
import pandas as pd
import scipy.io
import numpy as np

mat = scipy.io.loadmat('train_data.mat')
trainDF = pd.DataFrame(np.hstack((mat['train_fg_data'], mat['train_data'])))

trainDF.head()

,0,1,2,3,4,5,6,7,8,9,...,17366,17367,17368,17369,17370,17371,17372,17373,17374,17375
0,0.000433,0.000289,0.000289,0.000216,0.000144,0.000000,0.000000,0.000577,0.000000,0.000144,...,0.267177,0.357578,0.420985,0.409833,0.276110,0.346354,0.234670,0.212166,0.337528,0.268254
1,0.000000,0.000635,0.000698,0.000000,0.000000,0.000635,0.000698,0.000000,0.000000,0.000952,...,0.177962,0.309295,0.417339,0.379545,0.200530,0.253226,0.155548,0.143595,0.309500,0.177095
2,0.000000,0.000000,0.000000,0.000000,0.000599,0.000257,0.000428,0.000685,0.000086,0.000086,...,0.192064,0.320620,0.390572,0.373608,0.208791,0.279283,0.152269,0.169688,0.287026,0.204373
3,0.000000,0.000942,0.000000,0.000257,0.000000,0.000685,0.000000,0.000257,0.000086,0.000000,...,0.254010,0.353008,0.367482,0.375448,0.302831,0.309191,0.233176,0.188171,0.299682,0.234346
4,0.000132,0.000000,0.000066,0.000066,0.000000,0.000066,0.000000,0.000132,0.000066,0.000000,...,0.175661,0.299105,0.410328,0.354185,0.175331,0.244246,0.166500,0.135681,0.318807,0.171231

In [4]:
print(len(mat))
print(mat.keys())

6
dict_keys(['__header__', '__version__', '__globals__', 'train_info', 'train_fg_data', 'train_data'])

In [5]:
print(mat.values())

dict_values([b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Wed Mar 28 12:03:37 2012', '1.0', [], array([[(array([[array(['n02085620-Chihuahua/n02085620_5927.jpg'], dtype='<U38')],
       [array(['n02085620-Chihuahua/n02085620_4441.jpg'], dtype='<U38')],
       [array(['n02085620-Chihuahua/n02085620_1502.jpg'], dtype='<U38')],
       ...,
       [array(['n02116738-African_hunting_dog/n02116738_6754.jpg'], dtype='<U48')],
       [array(['n02116738-African_hunting_dog/n02116738_9333.jpg'], dtype='<U48')],
       [array(['n02116738-African_hunting_dog/n02116738_2503.jpg'], dtype='<U48')]],
      dtype=object), array([[array(['n02085620-Chihuahua/n02085620_5927'], dtype='<U34')],
       [array(['n02085620-Chihuahua/n02085620_4441'], dtype='<U34')],
       [array(['n02085620-Chihuahua/n02085620_1502'], dtype='<U34')],
       ...,
       [array(['n02116738-African_hunting_dog/n02116738_6754'], dtype='<U44')],
       [array(['n02116738-African_hunting_dog/n02116738_9333'], dtype='<U44')],
       [array(['n02116738-African_hunting_dog/n02116738_2503'], dtype='<U44')]],
      dtype=object), array([[  1],
       [  1],
       [  1],
       ...,
       [120],
       [120],
       [120]], dtype=uint8), array([[array(['histograms_spm/n02085620-Chihuahua/n02085620_5927.mat'],
      dtype='<U53')],
       [array(['histograms_spm/n02085620-Chihuahua/n02085620_4441.mat'],
      dtype='<U53')],
       [array(['histograms_spm/n02085620-Chihuahua/n02085620_1502.mat'],
      dtype='<U53')],
       ...,
       [array(['histograms_spm/n02116738-African_hunting_dog/n02116738_6754.mat'],
      dtype='<U63')],
       [array(['histograms_spm/n02116738-African_hunting_dog/n02116738_9333.mat'],
      dtype='<U63')],
       [array(['histograms_spm/n02116738-African_hunting_dog/n02116738_2503.mat'],
      dtype='<U63')]], dtype=object))]],
      dtype=[('file_list', 'O'), ('annotation_list', 'O'), ('labels', 'O'), ('fg_ids', 'O')]), array([[4.32900433e-04, 2.88600289e-04, 2.88600289e-04, ...,
        3.96825397e-04, 3.24675325e-04, 2.30880231e-03],
       [0.00000000e+00, 6.34920635e-04, 6.98412698e-04, ...,
        1.90476190e-04, 3.17460317e-05, 4.09523810e-03],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        3.42465753e-04, 8.56164384e-05, 1.28424658e-03],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        2.72817460e-03, 1.43849206e-03, 4.96031746e-05],
       [1.92307692e-04, 9.61538462e-05, 9.61538462e-05, ...,
        6.25000000e-04, 4.80769231e-05, 6.73076923e-04],
       [3.84985563e-04, 0.00000000e+00, 0.00000000e+00, ...,
        4.04234841e-03, 4.81231954e-05, 3.36862368e-04]]), array([[1.        , 0.37021212, 0.38627623, ..., 0.21216631, 0.33752761,
        0.26825407],
       [0.37021212, 1.        , 0.45434285, ..., 0.14359524, 0.3095    ,
        0.17709522],
       [0.38627623, 0.45434285, 1.        , ..., 0.16968838, 0.28702648,
        0.20437348],
       ...,
       [0.21216631, 0.14359524, 0.16968838, ..., 1.        , 0.22314713,
        0.41941136],
       [0.33752761, 0.3095    , 0.28702648, ..., 0.22314713, 1.        ,
        0.31585238],
       [0.26825407, 0.17709522, 0.20437348, ..., 0.41941136, 0.31585238,
        1.        ]])])

In [6]:
model = VGG19(include_top=True, weights='imagenet')
image_size = (224, 224)

In [7]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("./images") if isfile(join("./images", f))]
onlyfiles

predictions_column = []
results_column = []


for file in onlyfiles:
    image_path = os.path.join("images",file)
    img = image.load_img(image_path, target_size=image_size)
    x = image.img_to_array(img)
    x = np.expand_dims(x, axis=0)
    x = preprocess_input(x)
    predictions = model.predict(x)
#     for result in decode_predictions(predictions)[0]:
#       print(result[1])
    predictions_column.append(decode_predictions(predictions)[0][0][1])
    results_column.append(decode_predictions(predictions)[0][0][2])
                        
#     print('Predicted:', decode_predictions(predictions, top=1))
#     plt.imshow(img)
#     print(file)

In [12]:
df_img = pd.DataFrame({"Predictions":predictions_column,
                       "Result":results_column,
                       "Actual": ""
})

In [13]:
df_img

           Predictions    Result Actual
0            Chihuahua  0.981295
1            Chihuahua  0.713216
2         Afghan_hound  0.510943
3         Afghan_hound  0.884097
4           bloodhound  0.999992
5           bloodhound  0.841021
6   Norwegian_elkhound  0.999593
7   Norwegian_elkhound  0.461572
8     golden_retriever  0.956600
9     golden_retriever  0.890242
10   Shetland_sheepdog  0.641985
11              collie  0.983553

In [14]:
df_img["Actual"]=pd.DataFrame({"Actual":["Chihuahua","Chihuahua","Afghan_hound","Afghan_hound","bloodhound","bloodhound","Norwegian_elkhound",
                                         "Norwegian_elkhound","golden_retriever","golden_retriever","collie","collie"]
    
})

In [15]:
df_img

           Predictions    Result              Actual
0            Chihuahua  0.981295           Chihuahua
1            Chihuahua  0.713216           Chihuahua
2         Afghan_hound  0.510943        Afghan_hound
3         Afghan_hound  0.884097        Afghan_hound
4           bloodhound  0.999992          bloodhound
5           bloodhound  0.841021          bloodhound
6   Norwegian_elkhound  0.999593  Norwegian_elkhound
7   Norwegian_elkhound  0.461572  Norwegian_elkhound
8     golden_retriever  0.956600    golden_retriever
9     golden_retriever  0.890242    golden_retriever
10   Shetland_sheepdog  0.641985              collie
11              collie  0.983553              collie

In [21]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels
from pandas_ml import ConfusionMatrix

In [25]:
y_true=df_img["Actual"]
y_pred=df_img["Predictions"]

In [31]:
confusion_matrix=ConfusionMatrix(y_true,y_pred)
print (confusion_matrix)

Predicted           Afghan_hound  Chihuahua  Norwegian_elkhound  \
Actual
Afghan_hound                   2          0                   0
Chihuahua                      0          2                   0
Norwegian_elkhound             0          0                   2
Shetland_sheepdog              0          0                   0
bloodhound                     0          0                   0
collie                         0          0                   0
golden_retriever               0          0                   0
__all__                        2          2                   2

Predicted           Shetland_sheepdog  bloodhound  collie  golden_retriever  \
Actual
Afghan_hound                        0           0       0                 0
Chihuahua                           0           0       0                 0
Norwegian_elkhound                  0           0       0                 0
Shetland_sheepdog                   0           0       0                 0
bloodhound                          0           2       0                 0
collie                              1           0       1                 0
golden_retriever                    0           0       0                 2
__all__                             1           2       1                 2

Predicted           __all__
Actual
Afghan_hound              2
Chihuahua                 2
Norwegian_elkhound        2
Shetland_sheepdog         0
bloodhound                2
collie                    2
golden_retriever          2
__all__                  12

C:\Users\rdmug\Anaconda3\lib\site-packages\pandas_ml\confusion_matrix\abstract.py:66: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  df = df.loc[idx, idx.copy()].fillna(0)  # if some columns or rows are missing